@model IList<tblUsers>
@using final.Utilities;
<header id="header" class="header dark-background d-flex flex-column">
    <i class="header-toggle d-xl-none bi bi-list"></i>
    @foreach (var users in Model.Where(m => m.UserId == @Functions._UserId))
    {
        <div class="profile-img">
            <img src="assets/img/@users.Images" alt="" class="img-fluid rounded-circle">
        </div>

        <a href="index.html" class="logo d-flex align-items-center justify-content-center">
            
                <h1 class="sitename">@users.FullName</h1>
            
        </a>
    }
    <div class="social-links text-center">
        <a href="#" class="setting"><i class="bi bi-person-circle"></i></a>
        <a href="#" class="notification"><i class="bi bi-chat-square-fill"></i></a>
        <a href="/Home/Logout" class="logout"><i class="bi bi-diamond-half"></i></a>
    </div>

    <nav id="navmenu" class="navmenu">
        <ul>
            <li><a href="#hero" class="active"><i class="bi bi-house navicon"></i>Home</a></li>
            <li><a href="#about"><i class="bi bi-person navicon"></i> About</a></li>
            <li><a href="#resume"><i class="bi bi-file-earmark-text navicon"></i> Resume</a></li>
            <li><a href="#services"><i class="bi bi-hdd-stack navicon"></i> Exercise</a></li>
        </ul>
    </nav>

</header>